// Navbar SCSS
.navbar {
    background-color: $primary-color;
    padding: 1.5rem;
  
    .navbar-brand {
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .nav-link {
      color: black;
      font-size: 1.1rem;
      margin-left: 1.5rem;
      transition: color 0.3s ease;
  
    //   &:hover {
    //     color: lighten($primary-color, 10%);
    //   }
    }
  
    .dropdown-toggle {
      background-color: transparent;
      border: none;
      color: #fff;
  
      &:hover {
        color: lighten($primary-color, 10%);
      }
    }
  
    .dropdown-menu {
      background-color: $card-bg-color;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
  
      .dropdown-item {
        padding: 0.75rem;
        color: $text-color;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: lighten($background-color, 10%);
        }
      }
    }
  }
  